# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* , - , / , + : these are expressions.

'hello' , -87.8, 6 : these are values.

# 2. What is the difference between string and variable?

Strings are data, we use to fill up in a variable.

Variables are symbols, used to store the data in program.

# 3. Describe three different data types.

Integer data type : This data type contains numerical values. e.g. (32857)

Float data type : This data type contains floating values, floating values are basically decimal value. e.g. (23.56)

String data type : This contains character value enclosing in quotes. e.g. ("data science"). Python uses single quotes ' double quotes ".

# 4. What is an expression made up of? What do all expressions do?

An expression is made up of operators and operands that is interpreted to produce some other value.
Expressions represents the value as per the preference of its operators. For example:

In [22]:
a = 2 + 5 * 9

In [23]:
a

47

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 If you can print it, or assign it to a variable, it’s an expression. If you can’t, it’s a statement.

# 6. After running the following code, what does the variable bacon contain?

In [29]:
bacon = 22
bacon + 1

23

In [30]:
bacon

22

The bacon variable contains 22. The bacon + 1 expression does not reassign the value in bacon.

# 7. What should the values of the following two terms be?

In [12]:
'spam'+'spamsapm'

'spamspamsapm'

'spam'*3

Both will be the same.

# 8. Why is eggs a valid variable name while 100 is invalid?

Because we can't begin a variable name with a integer.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will fix the value to the integer, floating-point number, and string.

# 10. Why does this expression cause an error? How can you fix it?

In [14]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

This expression causing an error because 99 is an integer and other values are string so it cann't be concatenate with string.
We can fix it by enclosing it with quotes like this '99' to make it work like string.

In [25]:
'I have eaten' + '99' + 'burritos'

'I have eaten99burritos'